.chocolate-overview {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;

    div {
      margin-top: 10px;
    }

    .loader-container {
      display: flex;
      justify-content: center;
    }
  }
}